<div class="panel panel-default">
	<div class="panel-heading">
		<h1><%= @lecture.name %></h1>
	</div>
	<div class="panel-body">
		<% @users.each do |user| %>
			<% if user.teacher %>
				<h3>Teacher: <%= user.last_name %>, <%= user.first_name %></h3>
			<% end %>
		<% end %>
		<h5><%= @lecture.semester %>, Semester - <%= @lecture.year %></h5><br>
		<p><%= @lecture.time %></p><br>
		<p><%= @lecture.location %></p><br>

		<% if current_user.teacher && @lecture.teacher.include?(current_user) || current_user.admin %>
			<%= link_to edit_user_lecture_path(current_user, @lecture), class: "btn-primary btn-lg" do %>
				<i class="glyphicon glyphicon-pencil"></i> Edit Lecture
            <% end %></p><br>
			<br>
			<%= link_to lecture_path(@lecture), action: 'destroy', method: 'delete', class: "btn-danger btn-lg" do %>
				<i class="fa fa-trash"></i> Delete Lecture
            <% end %></p><br>
		<% else %>
			<% if !current_user.lectures.include?(@lecture) %>
				<%= button_to add_to_schedule_path, params: {:id => @lecture.id}, class: "btn-primary btn-lg" do %>
					<i class="glyphicon glyphicon-add"></i> Add Lecture
            	<% end %></p><br>
			<% end %>
		<% end %>

	</div>
</div>