<%= bootstrap_form_for @user, layout: :inline do |f| %>

	<% if @user.errors.any? %>
	  <div id="error_explanation">
	    <h2>
	      <%= pluralize(@user.errors.count, "error") %>
	      prohibited this post from being saved:
	    </h2>
	 
	    <ul>
	    <% @user.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<%= f.text_field :username %><br>
	<br>
	<%= f.password_field :password %><br>
	<br>
	<%= f.password_field :password_confirmation, label: "Confirm Password" %><br>
	<br>
	<% if current_user != nil %>
		<%= f.submit 'Update Password', class: 'btn-primary btn-md' %>
	<% else %>
		<%= f.submit 'Submit', class: 'btn-primary btn-lg' %>
	<% end %>
<% end %>