<% @schools.each do |school| %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1><%= school.name %></h1>
		</div>
		<div class="panel-body">
			<% school.users.sort_by(&:last_name).each do |user| %>
				<% if user.teacher %>
					<%= link_to "#{user.last_name}, #{user.first_name} - Teacher", user_path(user) %><br>
				<% else %>
					<%= link_to "#{user.last_name}, #{user.first_name}", user_path(user) %><br>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Users With No School Association</h1>
	</div>
	<div class="panel-body">
		<% @users.sort_by(&:last_name).each do |user| %>
			<% if user.schools == [] %>
			<% if user.teacher %>
				<%= link_to "#{user.last_name}, #{user.first_name} - Teacher", user_path(user) %><br>
			<% else %>
				<%= link_to "#{user.last_name}, #{user.first_name}", user_path(user) %><br>
			<% end %>
			<% end %>
		<% end %>
	</div>
</div>

