<h1><%= @user.username %></h1>
<% if @user.is_profile_complete? %>
	<p><%= @user.first_name %> <%= @user.last_name %></p><br>
	<p><%= @user.email %></p><br>
<% else %>
	<%= link_to "Please complete your profile.", edit_user_path(@user) %><br>
<% end %>
<%= link_to "Log Out", logout_path, action: 'destroy', method: 'post' %>