<div class="panel panel-default">
	<div id="userPanelHeader" class="panel-heading">
		<h1><%= @user.username %></h1>

		<% if @user.teacher %>
			<h3>Teacher</h3>
		<% end %>

	</div>
	<div id="userPanelBody" class="panel-body">
		
		<% if @user.is_profile_complete? %>
			<p><%= @user.first_name %> <%= @user.last_name %></p><br>
			<% if @user.has_school? %>
				<% @user.schools.uniq.each do |school| %>
					<p><%= link_to school.name, school_path(school) %></p><br>
				<% end %>
			<% else %>
				<% if @user == current_user %>
					<%= link_to "Please associate with your school.", new_user_school_user_path(@user) %><br>
				<% else %>
					<p>No school associated yet.</p>
				<% end %>
			<% end %>
			<p><%= @user.email %></p><br>
			<h5>About Me:</h5>
			<p><%= @user.bio %></p><br>
			<br>
		<% else %>
			<%= link_to "Please complete your profile.", edit_user_path(@user) %><br>
			<br>
		<% end %>
		<% if current_user.admin %>
			<%= link_to "Edit Profile", edit_user_path(@user), class: 'btn-primary btn-sm' %><br> 
			<br>
			<%= link_to user_path(@user), action: 'destroy', method: 'delete', class: 'btn-danger btn-sm' do %>
                <i class="fa fa-trash"></i> Delete Account
              <% end %>
		<% end %>
	</div>
</div>
