<!DOCTYPE html>
<html>
  <head>
    <title>ClassroomManager</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>

      textarea.form-control {
        min-width: 100%;
        max-width: 100%;
      }

    </style>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    
    <div class="container-fluid text-center"> 

      <div class="row">
        <div class="col-xs-12">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
          <% end -%>
        </div>
      </div>
   
      <% if current_user != nil %>  

          <div class="col-sm-2 sidenav">
            
            <%= render 'shared/control_panel' %>

            <% if current_user.admin  %>
              
              <%= render 'shared/admin_panel' %>

            <% elsif current_user.teacher %>

              <%= render 'shared/teacher_panel' %>

            <% elsif !current_user.teacher && !current_user.admin%>

              <%= render 'shared/tools_panel' %>

            <% end %>

          </div>  <!--- Side Nav end --->
      <% else %>
          <div class="col-sm-2 sidenav">
        
            <div class="well">
              <p>Something should go here.</p>
            </div>
        
            <div class="well">
              <p>I wonder what.</p>
            </div>
        
          </div> <!--- Side Nav end --->
      <% end %>
      
      <div class="col-sm-10 text-centered"> 
        <%= yield %>
      </div>

    </div> <!-- Container end -->
  </body>
</html>
